<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>	
	<add key ="getbasename" value="getbase"/>
	<add key ="getbasepass" value="pass"/>

	<add key ="adminpass" value="a12dm3inpasswordissocrazyhard_"/>

	<add key ="guestpass" value="guestpassisnot12sohard78"/>

	<add key ="staffpass" value="staffpasswo123rdisbettert5henguests72"/>

	</appSettings>
</configuration>
